
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--marrom);

}

.header-nav {
    background-color: var(--rosa);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 8vh;
    background-color: var(--neve);
    margin-top: 10px;
    border-radius: 15px;
}

.title-emphasis {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-content: flex-start;
}

.div-search .legendFont {
    font-weight: bold !important;
}

input {
    width: 50%;
    height: 5vh;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
}

select {
    border-radius: 15px !important;
    border: 2px solid #AFAFAF;
    height: 48px;
    width: 215px;
 }


.div-gallery-adoption-emphasis {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--neve);
    width: 90vw;
    border-radius: 15px;
}

ul {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;

}

ul li {
    list-style: none;
    margin-top: 1.5rem;
    padding: 0.3rem;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.238rem;
}

.description {
    justify-content: space-between;
    display: flex;
    background-color: rgba(0, 0, 1, 0.925);
    flex-direction: row;
    border-radius: 15px;
    height: 100px;
    justify-content: center;
}

.description h1 {
    position: absolute;
    z-index: 1;
    margin-top: -25px;
   
    align-items: center;

}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 8%;
    margin-top: 10px;
}

.gallery img {

    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin: 10px;

}

.gallery-item {
    color: var(--branco);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
    box-shadow: 0px 4px 24px rgba(0, 0, 1, 0.267) ;
    
}


.gallery-item  {
    color: var(--branco);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 15px;
    width: 315px;
    height: 307px;
    background-image: url('../../assets/download.jfif');
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    transition: all 0.4s ease-in-out;
}
.gallery-item:hover {
    transform: scale(1.1);
    visibility : visible;
}


.gallery-item h1 {
    border: var(--branco) solid 2px;
    background-color: var(--verdeFloresta);
}