/* Fundo */
body {
    background-image: url("../../assets/images/home_background/1.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position-x: 24vw;

    animation-name: backgroundSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes backgroundSlide {
    0% {
        background-image: url("../../assets/images/home_background/1.jpg");
    }

    18% {
        background-image: url("../../assets/images/home_background/1.jpg");
        /* Imagem 1 permanece por 8% da animação */
    }

    25% {
        background-image: url("../../assets/images/home_background/2.jpg");
        /* Transição para Imagem 2 */
    }

    43% {
        background-image: url("../../assets/images/home_background/2.jpg");
        /* Imagem 2 permanece por 8% da animação */
    }

    50% {
        background-image: url("../../assets/images/home_background/3.jpg");
        /* Transição para Imagem 3 */
    }

    68% {
        background-image: url("../../assets/images/home_background/3.jpg");
        /* Imagem 3 permanece por 8% da animação */
    }

    75% {
        background-image: url("../../assets/images/home_background/4.jpg");
        /* Transição para Imagem 4 */
    }

    93% {
        background-image: url("../../assets/images/home_background/4.jpg");
        /* Imagem 4 permanece por 8% da animação */
    }

    100% {
        background-image: url("../../assets/images/home_background/1.jpg");
        /* Volta para Imagem 1 */
    }
}

.diagonalRect {
    position: absolute;
    z-index: -2;
    width: 120vh;
    top: -3rem;
    left: -32vh;
    height: 105vh;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    box-shadow: 1rem 0rem 1rem var(--defaultShadowColor);
    background-color: var(--linho);

    animation: slideDiagonalRect 1s ease-in-out 1;
}

@keyframes slideDiagonalRect {
    0% {
        left: -50vh;
    }

    100% {
        left: -32vh;
    }
}

/* Header */

.introduction {
    padding: 0rem 15rem;
}

/* Conteúdo */

nav {
    margin-top: 3rem;

    animation: slideIntroComponents 1.2s ease-in-out 1;
}

@keyframes slideIntroComponents {
    0% {
        position: relative;
        left: -5rem;
        opacity: 0;
    }

    90% {
        position: relative;
        left: 0rem;
        opacity: 1;
    }

    100% {
        position: inherit;
    }
}

.phraseBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 44.25rem;
    height: 25rem;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: var(--neve);
    box-shadow: var(--introCardShadow);
}

.phraseBox .titleFont {
    width: 90%;
    margin: 0rem;
    margin-right: 10%;
    text-transform: uppercase;
}

.phraseBox span {
    font-weight: bold;
}

.introduction img {
    z-index: -1;
    position: absolute;
}

.ribbonBox {
    margin-top: 5.5rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: slideIntroComponents 1.2s ease-in-out 1;
}

.phraseBox .titleFont>:first-child {
    color: var(--laranja);
}

.phraseBox .titleFont>* {
    color: var(--verdePersa);
}

.phraseBox button {
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
}

/* Background */
main {
    margin-top: 12rem;
    width: 100%;
    background-color: var(--marrom);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0rem 15rem;
    padding-top: 2rem;
    padding-bottom: 7rem;
    color: var(--neve);

    animation: raiseUp 1.2s ease-in-out 1;
}

@keyframes raiseUp {
    0% {
        position: relative;
        top: 8rem;
    }

    90% {
        position: relative;
        top: 0rem; /* Change the value to 0rem */
    }

    100% {
        position: inherit;
    }
}

main .titleFont {
    text-align: center;
}

.scrollIndicatorContainer {
    width: fit-content;
    margin: auto;
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.scrollIndicatorContainer:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#scrollIndicator {
    width: 4rem;
}