body {
    background-color: var(--rosa);
    color: var(--brancoEsfumacado);
}

main {
    background-color: var(--marrom);
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

main h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 3rem;
}

.ngoDonateContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ngoDonateContent h1 {
    color: var(--brancoEsfumacado);
    align-items: center;
}

main img {
    width: 32rem;
    height: 32rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px black;
    object-fit: cover;
}


main p {
    color: var(--neve) !important;
    margin: 2rem;
}

.buttonContainer button {
    background-color: var(--rosa);
    border-radius: 16px;
    text-transform: none;
    padding: 1rem 1.5rem;
}

.buttonContainer {
    width: 70%;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.titleFont {
    color: var(--neve) !important;
}

main .sectionSubtitleFont{
    color: var(--brancoEsfumacado);
}

.formDonates{
    background-color: var(--fundoBrancoTransparente);
    width: 46.313rem;
    height: 4.875rem;
    display: flex;
    justify-content: space-evenly;
    margin: 1.25rem;
    border-radius: 1rem;
    align-items: center;
}

main button {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 1px black;
    transition: all 0.5s;
}

main button:hover{
    background-color: palevioletred;
}

.buttonLogo {
    margin-right: 2rem;
    margin-left: 2rem;
}