body {
    background-color: #3E2723;
}

#somos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleFont {
    text-align: center;
    color: var(--neve);
}

.paragraphFont {
    color: var(--neve);
}

#imagem {
    width: 300px;
    height: 200px;
}

#valores {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#figuras {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#faixa {
    position: absolute;
    z-index: -1;
    background-color: rgb(236, 140, 14);
    width: 100%;
    height: 75px;
}

figure img {
    object-fit: cover;
    border-radius: 10px;
    width: 12rem;
    height: 14rem;
}

i {
    color: rgb(236, 140, 14);
}