body {
    background: var(--marrom);
    padding: 0px 240px !important;
}

section {
    display: flex;
    margin-top: 50px;
}

.valores {
    margin-top: 50px;
    color: aliceblue;
}

.valores h1 {
    text-align: center;
}

.valores p {
    padding: 5px;
}

.equipe {
    color: aliceblue;
}

.equipe h1 {
    text-align: center;
}

.faixacolorida {
    width: 100%;
    padding: 30px;
    margin-top: 50px;
    position: absolute;
    background: #eb9e10;
    z-index: -1;
}

i {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.figuras {
    display: flex;
    justify-content: center;
}