/* Import das fontes */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=League+Spartan:wght@100..900&display=swap');

/* Variáveis */
:root {
    --rosa: #EA5E6E;
    --laranja: #F57C00;
    --cascaLaranja: #FF9800;
    --joaoCorvino: #FFB74D;
    --branco: #FFFFFF;
    --neve: #FFF8E1;
    --linho: #D2B48C;
    --verdePersa: #8BC34A;
    --pigmentoVerde: #4CAF50;
    --verdeFloresta: #388E3C;
    --marrom: #3E2723;
    
    /* Buttons */
    --orangeButtonShadowColor: rgba(196, 117, 0, 0.7);
    --orangeButtonShadow: 0px 0px 8px var(--orangeButtonShadowColor);
    
    --disabledDotColor: rgba(255, 248, 225, 0.5);

    /* Shadows */
    --defaultShadowColor: rgba(0, 0, 0, 0.15);
    --introCardShadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    --uiButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--rosa);
}

/* Tipografia do Site */
.displayFont {
    font-family: 'Fredoka', sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

.titleFont {
    font-family: 'Fredoka', sans-serif;
    font-size: 3.188rem;
    font-weight: 500;
}

.sectionTitleFont {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.563rem;
}

.sectionSubtitleFont {
    font-family: 'League Spartan', sans-serif;
    font-size: 2.063rem;
}

.paragraphFont {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.625rem;
}

.legendFont {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.313rem;
}

.displayFont,
.titleFont,
.sectionTitleFont,
.sectionSubtitleFont,
.paragraphFont,
.legendFont {
    line-height: 1.25;
    letter-spacing: 0.5;
}

/* Menu de Navegação */
.menu {
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    width: 100%;
}

nav {
    display: flex;
    margin: auto;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem 1.063rem;
    color: var(--marrom);
    background-color: var(--neve);
    border-radius: 1rem;
    box-shadow: var(--introCardShadow);
    /* 8px 16px */
}

nav .sectionSubtitleFont {
    width: 16%;
    font-weight: 600;
    margin: 0;
}

nav .links {
    /* Estrutura */
    display: flex;
    padding: 0.5rem 1.5rem;
    width: 48%;
    justify-content: space-between;
    background-color: var(--verdePersa);
    border-radius: 1.5rem;
    /* Fontes */
    font-weight: bold;
    color: var(--branco);
}

nav button {
    /* Estrutura */
    border-radius: 1.5rem;
    /* Fontes */
    font-weight: bold;
}

nav .orangeButton {
    padding: 0.5rem 2.5rem;
}

nav .brownButton {
    padding: 0.5rem 1.5rem;
}

nav img {
    margin: 0rem 1rem;
}

/* Buttons */
.orangeButton {
    background-color: var(--cascaLaranja);
    color: var(--branco);
    border: none;
    transition: transform 0.3s ease-in-out;
    border-radius: 1.5rem;
    box-shadow: var(--orangeButtonShadow);
}

.orangeButton:hover {
    transform: scale(1.02);
}

.brownButton {
    background-color: var(--marrom);
    color: var(--branco);
    border: none;
    transition: transform 0.3s ease-in-out;
}

.brownButton:hover {
    transform: scale(1.02);
}

.pinkButton {
    background-color: var(--rosa);
    color: var(--neve);
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.pinkButton:hover {
    transform: scale(1.02);
}

.pinkButton:active {
    background-color: #ee959f;
}