/* Dê uma olhada */
.takeALook {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.takeALook .sectionTitle {
    padding-right: 1.25rem;

}

.slidesContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 37rem;
    left: 2rem;
}

.slidesContainer .slide {
    width: 61.938rem;
    height: 37rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.slideContent {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: var(--neve);
    color: var(--marrom);
    width: 50%;
    height: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
}

.slideContent * {
    margin: 0px;
}

.slideContent h2 {
    margin-bottom: 1.5rem;
}

.slideContent>* {
    margin-bottom: 1rem;
}

.slideContent>:last-child {
    margin-bottom: 0rem;
    margin-top: 1.5rem;
}

.slide img {
    border-style: solid;
    border-width: 0.5rem;
    border-color: var(--neve);
    border-radius: 1.5rem;
    position: inherit;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FirstSlide --------------------------------------------------------------------------------- */

.firstSlide {
    position: absolute;
    z-index: 3;
    margin-right: 8rem;

    transition: all 0.3s ease-in-out;
}

#slide1 img {
    content: url("/view/assets/images/home/slides/ongs.jpeg");
    object-position: 20rem 0rem;
}

/* SecondSlide --------------------------------------------------------------------------------- */

.secondSlide {
    position: absolute;
    margin-right: 4rem;
    z-index: 2;
    filter: brightness(0.8) blur(0.05rem);
    height: 90% !important;

    transition: all 0.3s ease-in-out;
}

#slide2 img {
    content: url("/view/assets/images/home/slides/lost_dog.jpeg");
    transform: scaleX(-1);
    object-position: -9rem 0rem;
}

/* ThirdSlide ----------------------------------------------------------------------------------- */

.thirdSlide {
    position: absolute;
    margin-right: 0rem;
    z-index: 1;
    filter: brightness(0.4) blur(0.08rem);
    height: 80% !important;

    transition: all 0.3s ease-in-out;
}

#slide3 img {
    content: url("/view/assets/images/home/slides/adoption.jpeg");
    object-position: 18rem 0rem;
}

.slideContent button {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.slidePanel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Slide buttons */

#rightArrow {
    width: 3rem;
    height: 3rem;
    filter: none;
    transition: 0.3s ease-out;
}

#rightArrow:hover {
    transform: scale(1.1);
    filter: drop-shadow(var(--uiButtonShadow));
}

#rightArrow:active {
    transform: scale(1);
    filter: brightness(0.8);
}

#leftArrow {
    width: 3rem;
    height: 3rem;
    transform: scaleX(-1);
    filter: none;
    transition: 0.3s ease-out;
}

#leftArrow:hover {
    transform: scale(-1.1, 1.1);
    filter: drop-shadow(var(--uiButtonShadow));
}

#leftArrow:active {
    transform: scale(-1, 1);
    filter: brightness(0.8);
}

/* Dots */

.slideDots {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.slideDots .dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--disabledDotColor);
    box-shadow: none;
    transition: all 0.3s ease-out;
}

.slideDots>* {
    margin-right: 1rem;
}

.slideDots>:last-child {
    margin-right: 0rem;
}

.dot.active {
    background-color: var(--neve);
    box-shadow: var(--uiButtonShadow);
    transition: all 0.3s ease-out;
}