main {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem; 
  padding: 3rem var(--screenPaddingX);

  background-color: var(--marrom);
}

#searchBox {
  display: flex;
  
  padding: 1rem;
  border-radius: 1rem;

  background-color: var(--neve);
}

#searchInput {
  padding: 0.5rem 1rem;
  border: var(--inputBorderColor) 1px solid;
  border-radius: 1rem;

  height: 100%;

  background-color: var(--brancoEsfumacado);
}

#searchInput:focus {
  
}

#searchButton img {
  width: 1rem;
}

#searchButton {
  background-color: var(--rosa);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;

}

#searchButton:active {
  filter: brightness(1.2);
}