@import url(/view/css/global.css);

footer {
    background-color: #000;
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 3rem 15rem 1.1rem 15rem;
}
#leftColumn{
    width: 50%;
}

#sloganDiv {
    display: flex;
}

#reserve {
    margin: 95px 0 0 0;
}

.legendFont{
    margin-top: 0;
    margin-bottom: 0.7rem;
}

.paragraph {
    padding-right: 24px;
}

#rightColumn {
    width: 50%;
}

#theList {
    list-style: none;
    padding: 0;
}

.listFooter {
    text-decoration: none;
    color: var(--branco);
}

.listFooter:hover{
    color: var(--rosa);
    transition: 3ms;
    font-size: 1.4rem;
    transition: 0.55s;
}

#logoSenac {
    width: 97px;
    height: 57px;
    position: relative;
    left: 80% ;
    margin-top: 0.45px;

}

#logoPet {
    width: 97px;
    height: 84px;
    margin-right: 24px;
}

