@import url(../global.css);

#cookieBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  background-color: #333;
  color: var(--brancoEsfumacado);
  padding: 10px 20px;
  text-align: center;
  border-radius: 1.5rem;
  z-index: 10;
}

#cookieBanner p {
  margin: 1rem;
}

.btnCookie {
  background-color: var(--verdePersa);
  border: none;
  color: var(--brancoEsfumacado);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btnCookie:hover {
  background-color: var(--verdeFloresta);
  transition: 1000ms;
}

.textLink,
#exit {
  cursor: pointer;
}