@import url(/view/css/global.css);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--marrom);
    margin: 240px;
}

#hello {
    text-align: center;
    color: var(--branco);
    margin: 4rem 0 3rem;
}

#profileMyInfo {
    display: flex;
    justify-content: space-between;
}

#profile {
    background-color: var(--neve);
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 24px 70px 24px 20px;
    width: 21.375rem;
    height: 10.69rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#selected {
    font-weight: 700;
    color: var(--rosa);
}

#infoProfile,
#myPets {
    width: 67.12rem;
    border-radius: 1.5rem;
    background-color: var(--neve);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}

#infoProfile {
    height: 18.375rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 36rem 2rem 2rem;
}

#myPets {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#cardsPets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1074px;
    border-radius: 16px;
}

#fatherCards {
    margin: 0;
    padding: 0;
    width: 320.87px;
    height: 401.828px;

}

#fatherCards img {
    width: 320.87px;
    height: 401.828px;
}

.greenButton {
    background: var(--pigmentoVerde);
    width: 20.75rem;
    height: 3.06rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    color: var(--branco);
    border-style: none;
    cursor: pointer;
}