@import url(/view/css/global.css);

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--marrom);
    padding: 3rem var(--screenPaddingX);
}

#hello {
    text-align: center;
    color: var(--neve);
    margin-bottom: 2rem;
}

#profileMyInfo {
    display: flex;
    justify-content: space-between;
}

#profile {
    background-color: var(--neve);
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    margin-right: 2rem;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#selected {
    font-weight: 700;
    color: var(--rosa);
}

#infoProfile {
    width: 67.12rem;
    border-radius: 1.5rem;
    background-color: var(--neve);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}

#infoProfile {
    height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

#infoProfile h2 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

#cardsPets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1074px;
    border-radius: 16px;
}

#fatherCards {
    margin: 0;
    padding: 0;
    width: 320.87px;
    height: 401.828px;

}

#fatherCards img {
    width: 320.87px;
    height: 401.828px;
}

.greenButton {
    background: var(--pigmentoVerde);
    width: 20.75rem;
    height: 3.06rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    color: var(--branco);
    border-style: none;
    cursor: pointer;
}