@import url(/view/css/global.css);



body {
    background-color: var(--marrom);
}

#main{
    margin: 6rem 15rem;
    background-color: var(--rosa);
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    justify-content: space-between;
    color: var(--marrom);
    position: relative;
    max-width: 1664px;
}

#returnLink {
    width: 6rem;
    height: 5rem;
    background-color: var(--rosa);
    position: absolute;
    left: 10rem;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}

#returnLink img {
    margin: 1.45rem;
}

.background-register{
    width: 1198px;
    height: 799px;
    margin-left: 292px;
    border-radius: 16px;
}

#formRegister {
    display: flex;
    width: 760px;
    height: 799px;
    padding: 2.69rem 5.31rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background: var(--brancoEsfumacado);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    position: absolute;
}

#formRegister h2 {
    color: var(--marrom);
    align-self: center;
    margin: 0 0 2rem 0;
}

#formRegister p {
    width: 481.95px;
    align-self: center;
    text-align: center;
    margin: 0;
}

.bold {
    font-weight: 700;
}

form button {
    display: flex;
    width: 481.95px;
    padding: 24px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    background-color: var(--laranja) !important;
}

input {
    display: flex;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--marrom);
    width: 100%;
    margin-bottom: 1.5rem;
}

.greenBelt, .greenBeltTxt {
    position: absolute;
    right: 0;
    top: 620px;
    cursor: pointer;
}

.greenBeltTxt {
    color: var(--neve);
    top: 620px;
    padding: 30px;
}

span {
    cursor: pointer;
}

/* página de login  */


.pinkBelt, .pinkBeltTxt {
    position: absolute;
    z-index: 3;
    left: 0rem;
    top: 620px;
    cursor: pointer;
}

.pinkBelt {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.32));
}

.pinkBeltTxt {
    color: var(--neve);
    top: 620px;
    padding: 30px;
}

#returnLinkGreen {
    width: 6rem;
    height: 5rem;
    background-color: var(--pigmentoVerde);
    position: absolute;
    z-index: 0;
    left: 10rem;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}

#returnLinkGreen img {
    margin: 1.45rem;
}

.background-login{
    width: 1198px;
    height: 799px;
    margin-right: 500px;
    border-radius: 16px;
    object-position: -240px;
    z-index: 1;
}

#formLogin {
    display: flex;
    width: 760px;
    height: 799px;
    padding: 141px 85px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background: var(--brancoEsfumacado);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    position: absolute;
    z-index: 3;
    right: 0;
}

#formLogin h2 {
    color: var(--marrom);
    align-self: center;
    margin: 0 0 2rem 0;
}

#formLogin p {
    width: 481.95px;
    align-self: center;
    text-align: center;
    margin: 0;
}