<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/view/css/global.css">
  <link rel="stylesheet" href="/view/css/adoption/adoption.css">
  <title>PetLaços - Adoção</title>
</head>
<body>
  <header-component pageName="adotar"></header-component>
  <main>
    <div id="searchBox">
      <div id="searchBar">
        <input type="search" name="searchInput" id="searchInput">
      </div>
      <button id="searchButton">
        <img src="/view/assets/icons/search.png" alt="Pesquisar">
      </button>
    </div>
  </main>
  <footer-component></footer-component>
</body>
</html>

<script src="/view/components/global/header.js"></script>
<script src="/view/components/global/footer.js"></script>