<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/adoption/adoption.css">
    <title>PetLaços - Adoção</title>
  </head>
  <body>
    <header-component pageName="adotar"></header-component>
    <main>
      <div id="searchBox">
        <input type="search" id="searchInput" name="searchInput"
          placeholder="Já sabe o nome do seu bichinho? Digite aqui..."
          class="legendFont">
        <label for="animalType" class="legendFont">Animal:</label>
        <div class="selectBox">
          <img src="/view/assets/icons/arrow_down.svg" alt="Seta para baixo"
            class="inputArrow">
          <select id="animalType" name="animalType" class="legendFont">
            <option value disabled selected
              class="placeHolder">Selecione</option>
          </select>
        </div>
        <label for="age" class="legendFont">Idade:</label>
        <div class="selectBox">
          <img src="/view/assets/icons/arrow_down.svg" alt="Seta para baixo"
            class="inputArrow">
          <select id="age" name="age" class="legendFont">
            <option value disabled selected
              class="placeHolder">Selecione</option>
          </select>
        </div>
        <button id="searchButton">
          <img src="/view/assets/icons/search.png" alt="Procurar">
        </button>
      </div>
      <section id="ourPets">
        <div class="listBox">
          <div class="header">
            <h2 class="sectionSubtitleFont">Nossos bichinhos:</h2>
            <div id="buttons">
              <button id="previousButton">
                <img class="disabled" src="/view/assets/icons/disabledArrow.svg" alt="Página anterior">
              </button>
              <h4 id="previousIndex" class="previousIndex legendFont">-</h4>
              <h3 id="pageIndex" class="pageIndex sectionSubtitleFont">1</h3>
              <h4 id="nextIndex" class="nextIndex legendFont">2</h4>
              <button id="nextButton">
                <img src="/view/assets/icons/listArrow.svg" alt="Próxima página">
              </button>
            </div>
          </div>
          <div class="petList petRow">
            <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
          </div>
          <div class="petList petRow">
            <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
          </div>
          <div class="petList petRow">
            <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
          </div>
          <div class="petList petRow">
            <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
              <pet-card name="pitoco" age="1 ano" sex="macho"
              castrated="sim" behavior="arisco"
              imageSrc="/view/assets/pitoco.png"></pet-card>
          </div>
        </div>
      </section>
    </main>
    <footer-component></footer-component>
  </body>
</html>

<script src="/view/components/global/header.js"></script>
<script src="/view/components/global/footer.js"></script>
<script src="/view/components/adoption/cardAdoption.js"></script>