<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/dashboard/dashboard.css">
    <title>Dashboard | Pet Laços</title>
</head>

<body>
    <h2 id="hello" class="titleFont">Olá, Usuário!</h2>
    <div id="profileMyInfo">
        <div id="profile">
            <h2 class="sectionSubtitleFont">Perfil</h2>
            <a href="/view/dashboard.html">
                <p class="paragraphFont" id="myInfo">Minhas informações</p>
            </a>
            <a href="/view/meusPets.html">
                <p class="paragraphFont">Animais cadastrados</p>
            </a>
        </div>
        <div id="infoProfile">
            <h2 class="titleFont">Minhas Informações</h2>
            <div>
                <p class="paragraphFont">Nome:</p>
                <p class="paragraphFont">Usuário da Silva Lima</p>
            </div>
            <div>                
                <p class="paragraphFont">E-mail:</p>
                <p class="paragraphFont">usuariodasilvalima@gmail.com</p>
            </div>
        </div>
    </div>
</body>

</html>