<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Pet Laços</title>
</head>
<body>
    <script src="components/header.js"></script>
    <header-component></header-component>
    
    <script src="/view/components/register.js"></script>
    <register-component></register-component>

    <script src="/view/components/login.js"></script>
    <login-component></login-component>
    
    <script src="components/footer.js"></script>
    <footer-component></footer-component>

    <script>
        // login inicia display: none,
        // Se clicar no botão login, component register display none e component login display: block. 
    </script>
</body>
</html>