<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/dashboard/dashboard.css">
    <title>Dashboard | Pet Laços</title>
</head>

<body>
    <h2 id="hello" class="titleFont">Olá, Usuário!</h2>
    <div id="profileMyInfo">
        <div id="profile">
            <h2 class="sectionSubtitleFont">Perfil</h2>
            <a href="/view/dashboard.html">
                <p class="paragraphFont">Minhas informações</p>
            </a>
            <a href="/view/meusPets.html">
                <p class="paragraphFont" id="selected">Animais cadastrados</p>
            </a>
        </div>
    <div id="myPets">
        <h2 class="titleFont">Animais Cadastrados</h2>
        <button class="greenButton paragraphFont">Cadastrar novo animal</button>
        <section id="cardsPets">
            <div class="fatherCards">
            </div>

        </section>
    </div>
</body>

</html>