<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/ngopayments/ngosdonation.css">
</head>

<body>

    <header>
        <iframe src="components/nav.html" frameborder="0" class="menu"></iframe>
    </header>

    <main>
        <section>
            <div class="ngoPaymentContent">

                <h1 class="displayFont">ONG Cão sem dono</h1>
                <img src="/view/assets/dogdonate.jpg" alt="mulher com um cachorro">

                <p class="paragraphFont">Ajude esta ONG com a quantia que desejar, nas opções abaixo!</p>

                <button class="sectionSubtitleFont pinkButton">
                    <embed src="/view/assets/pix.svg" />
                    Pagamento via PIX</button>
                <button class="sectionSubtitleFont pinkButton">
                    <embed src="/view/assets/credit.svg" />
                    Cartão de Crédito</button>

                <!-- logo dos cartões aceitos-->
                <div class="formDonates">
                    <img src="/view/assets/logo_visa.svg" alt="">
                    <img src="/view/assets/logo_Frame.svg" alt="">
                    <img src="/view/assets/logo_Frame.svg" alt="">
                    <img src="/view/assets/logo_AMEX.svg" alt="">
                    <img src="/view/assets/logo_ApplePay.svg" alt="">
                    <img src="/view/assets/logo_Union.svg" alt="">
                </div>

            </div>
        </section>
    </main>


</body>

</html>