<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetLaços - Ongs Parceiras</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/ngos/ngos.css">

</head>

<body>

    <header>
        <iframe src="components/nav.html" frameborder="0" class="menu"></iframe>
    </header>

    <main>
        <h1 class="displayFont">ONGs Parceiras</h1>

        <div class="ngoInformation">
            <img src="" alt="imagem da ong">

            <div class="content">

                <h2 class="sectionTitleFont">ONG Cão sem dono</h2>
                <p class="paragraphFont">
                    Atua desde 2005 para tirar o maior número possível de animais das ruas, dar tratamento adequado e
                    integrá-los a famílias que possam cuidar deles. Atualmente, a ONG mantém dois abrigos (a sede fica
                    em
                    Itapecerica da Serra, SP) com 450 animais que são constantemente tratados por veterinários,
                    alimentados,
                    bebem água potável, dormem em abrigos adequados e são cuidados por funcionários e voluntários.
                </p>
                <button class="legendFont">Fazer doação</button>
            </div>
        </div>

        <div class="ngoInformation">
            <img src="" alt="imagem da ong">

            <div class="content">

                <h2 class="sectionTitleFont">ONG Cão sem dono</h2>
                <p class="paragraphFont">
                    Atua desde 2005 para tirar o maior número possível de animais das ruas, dar tratamento adequado e
                    integrá-los a famílias que possam cuidar deles. Atualmente, a ONG mantém dois abrigos (a sede fica
                    em
                    Itapecerica da Serra, SP) com 450 animais que são constantemente tratados por veterinários,
                    alimentados,
                    bebem água potável, dormem em abrigos adequados e são cuidados por funcionários e voluntários.
                </p>
                <button class="legendFont">Fazer doação</button>
            </div>
        </div>

        <div class="ngoInformation">
            <img src="" alt="imagem da ong">

            <div class="content">

                <h2 class="sectionTitleFont">ONG Cão sem dono</h2>
                <p class="paragraphFont">
                    Atua desde 2005 para tirar o maior número possível de animais das ruas, dar tratamento adequado e
                    integrá-los a famílias que possam cuidar deles. Atualmente, a ONG mantém dois abrigos (a sede fica
                    em
                    Itapecerica da Serra, SP) com 450 animais que são constantemente tratados por veterinários,
                    alimentados,
                    bebem água potável, dormem em abrigos adequados e são cuidados por funcionários e voluntários.
                </p>
                <button class="legendFont">Fazer doação</button>
            </div>
        </div>

    </main>

</body>

</html>