<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/ngopayments/ngosdonation.css">
</head>

<body>

    <header>
        <iframe src="components/nav.html" frameborder="0" class="menu"></iframe>
    </header>

    <main>
        <section>
            <!-- classe principal -->
            <div class="ngoDonateContent">

                <h1 class="displayFont">ONG Cão sem dono</h1>
                <img src="/view/assets/dogdonate.jpg" alt="mulher com um cachorro">
                <p class="paragraphFont">Ajude esta ONG com a quantia que desejar, nas opções abaixo!</p>


                <div class="buttonContainer">

                    <button class="sectionSubtitleFont pinkButton">
                            <embed class="buttonLogo" src="/view/assets/pix.svg" />
                       <b> Pagamento via PIX</b>
                    </button>
                    <button class="sectionSubtitleFont pinkButton">
                            <embed class="buttonLogo" src="/view/assets/credit.svg" />
                        <b>Cartão de Crédito</b>
                    </button>

                </div>

                <!-- logo dos cartões aceitos-->
                <div class="formDonates">
                    <embed src="/view/assets/logo_Boleto.svg" type="">
                    <embed src="/view/assets/logo_Visa.svg" type="">
                    <embed src="/view/assets/logo_Mastercard.svg" type="">
                    <embed src="/view/assets/logo_AMEX.svg" type="">
                    <embed src="/view/assets/logo_Paypal.svg" type="">
                    <embed src="/view/assets/logo_GPlay.svg" type="">
                    <embed src="/view/assets/logo_Applepay.svg" type="">
                    <embed src="/view/assets/logo_Pix.svg" type="">
                    <embed src="/view/assets/logo_Hotmart.svg" type="">
                </div>

            </div>
        </section>
    </main>


</body>

</html>