<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PetLaços - Ongs Parceiras</title>
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/ngos/ngos.css">
    </head>
    <body>
        <header-component pageName="ongs"></header-component>
        <main>
            <h1 class="titleFont">ONGs Parceiras</h1>
            <section class="ngoList">
                <div class="ngoInformation">
                    <img src="assets/imagemong.jpg" alt="imagem da ong">
                    <div class="content">
                        <div>
                            <h2 class="sectionSubtitleFont">ONG Cão sem dono</h2>
                            <p class="paragraphFont">
                                Atua desde 2005 para tirar o maior número
                                possível de animais das ruas, dar tratamento
                                adequado
                                e
                                integrá-los a famílias que possam cuidar deles.
                                Atualmente, a ONG mantém dois abrigos (a
                                sede
                                fica
                                em
                                Itapecerica da Serra, SP) com 450 animais que
                                são constantemente tratados por veterinários,
                                alimentados,
                                bebem água potável, dormem em abrigos adequados
                                e são cuidados por funcionários e
                                voluntários.
                            </p>
                        </div>
                        <button class="paragraphFont pinkButton">
                            <a href="/view/ngosdonation.html">Fazer doação</a>
                        </button>
                    </div>
                </div>
                <div class="ngoInformation">
                    <img src="assets/imagemongs.jpg" alt="imagem da ong">
                    <div class="content">
                        <div>
                            <h2 class="sectionSubtitleFont">ONG Cão sem dono</h2>
                            <p class="paragraphFont">
                                Atua desde 2005 para tirar o maior número
                                possível de animais das ruas, dar tratamento
                                adequado
                                e
                                integrá-los a famílias que possam cuidar deles.
                                Atualmente, a ONG mantém dois abrigos (a
                                sede
                                fica
                                em
                                Itapecerica da Serra, SP) com 450 animais que
                                são constantemente tratados por veterinários,
                                alimentados,
                                bebem água potável, dormem em abrigos adequados
                                e são cuidados por funcionários e
                                voluntários.
                            </p>
                        </div>
                        <button class="paragraphFont pinkButton">
                            <a href="/view/ngosdonation.html">Fazer doação</a>
                        </button>
                    </div>
                </div>
                <div class="ngoInformation">
                    <img src="assets/imgongsss.jpg" alt="imagem da ong">
                    <div class="content">
                        <div>
                            <h2 class="sectionSubtitleFont">ONG Cão sem dono</h2>
                            <p class="paragraphFont">
                                Atua desde 2005 para tirar o maior número
                                possível de animais das ruas, dar tratamento
                                adequado
                                e
                                integrá-los a famílias que possam cuidar deles.
                                Atualmente, a ONG mantém dois abrigos (a
                                sede
                                fica
                                em
                                Itapecerica da Serra, SP) com 450 animais que
                                são constantemente tratados por veterinários,
                                alimentados,
                                bebem água potável, dormem em abrigos adequados
                                e são cuidados por funcionários e
                                voluntários.
                            </p>
                        </div>
                        <button class="paragraphFont pinkButton">
                            <a href="/view/ngosdonation.html">Fazer doação</a>
                        </button>
                    </div>
                </div>
            </section>
        </main>
        <footer-component></footer-component>
    </body>
</html>
<script src="/view/components/global/header.js"></script>
<script src="/view/components/global/footer.js"></script>